@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+KR:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+KR:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+KR:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height : 100%;
    max-width: 100%;
}

.container{
    height : 100%;
    width: 100%;
}

.contain-above{
    height: 65vh;
    width: 100vw;
    position: relative;
    /* border: 2px solid hotpink; */
    /* background-color: aquamarine; */
    /* background: url("/static/background.mp4") no-repeat center center fixed; */
    /* background-size: cover; */
}

.video{
    height : 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    /* border: 2px solid gray; */
}
.video video{
    height : 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    filter: brightness(0.4) blur(2px);
    
}

.content-above{
    position: absolute;
    height : 100%;
    width: 100%;
    z-index: 1;
}


.nav-bar{
    width: 100%;
    height: 15%;
    /* border: 2px solid white; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    
}

.nav-bar::before{
    content: " ";
    background-color: white;
    opacity: 0.5;
    height : 100%;
    width: 100%;
    position: absolute;
    /* filter: blur(3px); */
    z-index: -1;
}

.nav-bar> div{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .left{
    width: 20%;
    height: 50%;
}


.nav-bar .left h1{
    font-size:1.8rem;
    font-weight: 500;
    color: black;
    font-family: "Madimi One", sans-serif;
}


.nav-bar .right{
    width: 20%;
    height: 50%;
    justify-content: space-around;
}

.nav-bar .right a{
    background-color: white;
    color: black;
    text-decoration: none;
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: "Roboto Mono", monospace;
    border-radius: 0.2rem;

}
.content-info{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-box{
    height: 70%;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-box::before{
    content: " ";
    background-color: white;
    opacity: 0.5;
    height : 100%;
    width: 100%;
    position: absolute;
    /* filter: blur(3px); */
    z-index: -1;
    border-radius: 1rem;
}

.title-box > div{
    /* background-color: black; */
    /* border: 1px solid black; */
    border-radius: 1rem;

}

.tb-left{
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.tb-left>h1{
    font-size: 2.7rem;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.tb-left > p{
    font-size: 1.1rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tb-right{
    height: 60%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tb-r-u{
    width: 70%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
}

.tb-r-u > img{
    height : 100%;
    border-radius: 50%;
}

.tb-r-d{
    width: 70%;
    height: 30%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-btn{
    display: flex;
    background-color: #0b1e36;
    color: white;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 45%;
    text-decoration: none;
    border-radius: 0.3rem;
    font-size: 1.3rem;
}

.icon-btn:hover .icon-i{
    display: block;
    font-size: 2rem;
}

.icon-btn:hover .icon-p{
    display: none;
}


.icon-p{
    height: 50%;
}

.icon-i{
    height: 40%;
    display: none;
}




/* Below main content */


.contain-below{
    margin-top: 3%;
    width: 100%;
    height: auto;
    /* border: 2px solid hotpink; */
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* nav bar of category  */


.nav-category{
    width: 70%;
    height: 10vh;
    /* border: 2px solid blueviolet; */
    display: flex;
    align-items: center;
}

.nc-a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 40%;
    text-decoration: none;
    color: black;
    margin-right:2%;
    border: none;
    border-radius: 0.2rem;
    padding: 0 2%;
    outline: none;

}

.nc-a:hover{
    background-color: rgba(197, 197, 197, 0.57);
}

.nc-a-active{
    color: white;
    background-color: black;

}

.nc-a-active:hover{
    background-color: black;
}





/* all posts  will be in this div */

.all-posts{
    width: 70%;
    height: auto;
    /* border: 3px solid khaki; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vh;
    /* overflow-y: auto; */

}


.post_card{
    width: 45%;
    height: 30vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f8;
    border-radius: 0.4rem;
    transition: all  .3s ease-in-out;
}

.post_card:hover{
    transform: translateY(-2%);
}

.post_card:hover .post_l>img{
    opacity: 0.9;
}

.post_det{
    height : 100%;
    /* border: 1px solid green; */
}

.post_l{
    width: 30%;
}

.post_l>img{
height : 100%;
border-top-left-radius: 0.4rem;
border-bottom-left-radius: 0.4rem;
}

.post_r{
    width: 67%;
    display: flex;
    flex-wrap: wrap;
}


.post_date{
    margin-top: 2%;
    height: 7%;
    /* border: 1px solid blue; */
    width: 80%;
    color: rgb(94, 93, 93);
    font-size: 1.2rem;
}

.post_title{
    height: 40%;
    width: 80%;
    font-size: 1.7rem;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.post_desc{
    height: 25%;
    /* border: 1px solid blue; */
    width: 80%;
    font-size: 1.2rem;
    color: rgb(56, 55, 55);
}

.post_link{
    height: 15%;
    /* border: 1px solid blue; */
    width: 30%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 0.2rem;

}

.upfooter{
    height: 40vh;
    width: 100%;
    background-color: #0b1e36;
    margin-top: 10%;
    position: relative;
}




/* code page styling  */

.container-code{
    height : 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
}


.left-code{
    width: 35vw;
    height: 99vh;
    border: 4px solid khaki;
    position: relative;
}

iframe{
    height : 100%;
    width: 100%;
}

.yt{
    height : 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    /* background-color: red;  */
}
.right-code{
    width: 60vw;
    height: 99vh;
    border: 3px solid hotpink;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.heading-code{
    height: 20%;
    width: 70%;
    /* align-items: center; */
}

.heading-code>h1{
    color: white;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
  /* text-transform: uppercase; */

}


.code-code{
    height: 40%;
    width: 70%;
}

/* Custom styling for code blocks */
pre>code{
    background-color: red;
}
