@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: black;
    height: 100vh;
    width: 100vw;
    box-shadow: inset 15px 15px 20px #242323;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* Left side design start */
.left{
    height: 90%;
    width: 30%;
    border: 2px solid grey;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: grey;
}

.l-row{
    width: 90%;
    /* border: 2px solid red; */
}


/* left row 1 */


.l-row-1{
    height: 10%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}


/* left row 2 */


.l-row-2{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.l-row-2 img{
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: transform .3s ease-in-out;
    
}

.l-row-2 img:hover{
    transform: rotate(30deg);
}


/* left row 3 */

.l-row-3{
    height: 25%;
    font-family: "Kode Mono", monospace;
    font-size: 1.3rem;
}




/* left row 4 */


.l-row-4{
    height: 20%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.l-row-4 .icons{
    height: 65%;
    width: 0%;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease-in;
}

.l-row-4 .icons i{
    color: rgb(191, 190, 190);
    font-size: 2.5rem;
    border-bottom: 2px solid grey;
}


.l-row-4 .icons:hover{
    cursor: pointer;
    width: 20%;
}

.l-row-4 .icons:hover i{
    border: none;
}



/* left row 5 */

.l-row-5{
    height: 10%;
    display: flex;
    justify-content: center;
}

.btn{
    width: 70%;
    height: 70%;
    background-color: rgb(61, 64, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.btn>a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}


/* Right side design starts here */

.right{
    height: 95%;
    width: 65%;
    border: 2px solid grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
    overflow-x: auto;
    overflow-y: hidden;
}

/* video boxes */

.video_rows{
    width: 90%;
    height: 30%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video_cols{
    height: 100%;
    width: 30%;
    background-color: white;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}


/* Thumbnails */

.thumbnail{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

.thumbnail::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:url("/static/Thumbnail-dj-2.jpg") ;
    background-color: black;
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    border: 2px solid wheat;
    border-radius: 2rem;
    opacity: 0.8;
    filter: blur(9px);
}

.thumbnail>img{
    height: 97%;
    position: relative;
}



/* info cards */

.info{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    border-radius: 2rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(100%);
    transition: transform .7s ease-in-out;
}


.video_cols:hover .info{
    transform: translateY(0%);
}

.info .titel{
    width: 80%;
    height: 40%;
    
}

.info a{
    width: 40%;
    height: 30%;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #242424;
    border-radius: 2rem;
    font-size: 1.3rem;
}

.info a:hover{
    background-color: white;
    border: 2px solid #242424;
    color: black;
}
