@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: black;
    height: 100vh;
    width: 100vw;
    box-shadow: inset 15px 15px 20px #242323;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left{
    height: 90%;
    width: 30%;
    border: 2px solid grey;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: grey;
}

.l-row{
    width: 90%;
    /* border: 2px solid red; */
}

.l-row-1{
    height: 10%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}
.l-row-2{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.l-row-2 img{
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: transform .3s ease-in-out;
    
}

.l-row-2 img:hover{
    transform: rotate(30deg);
}


.l-row-3{
    height: 25%;
    font-family: "Kode Mono", monospace;
    font-size: 1.3rem;
}

.l-row-4{
    height: 20%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.l-row-4 .icons{
    height: 85%;
    width: 0%;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease-in;
}

.l-row-4 .icons i{
    color: rgb(191, 190, 190);
    font-size: 2.5rem;
    border-bottom: 2px solid grey;
}


.l-row-4 .icons:hover{
    cursor: pointer;
    width: 20%;
}

.l-row-4 .icons:hover i{
    border: none;
}

.l-row-5{
    height: 10%;
    display: flex;
    justify-content: center;
}

.btn{
    width: 70%;
    height: 70%;
    background-color: rgb(61, 64, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.btn>a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
























 
.right{
    height: 95vh;
    width: 65%;
    background-color: hotpink;
}