<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}}</title>
    <link rel="stylesheet" href="/static/prism.css">
    <script src="/static/prism.js"></script>
    <link rel="stylesheet" href="/static/codestyle.css">

</head>
<body>
    <div class="container-code">

        <div class="left-code">

            <iframe 
                src="https://www.youtube.com/embed/PvA5f8ipWC8/" title="" frameborder="0">

            </iframe>

        </div>

        <div class="right-code">

            <div class="heading-code">
                <h1>{{post.title}}</h1>
            </div>

            <div class="code-code">

                <pre>
                    <code class="language-python">
                        
                        def dataadd(request):

                        a = Category.objects.all()
                        b = Playlist.objects.all()
                        c = Content.objects.all()

                        # for i in c:
                        #     Content.objects.filter(id=i.id).delete()

                        er(id=i.id).delete()
                        return HttpResponse("done check")
                        def dataadd(request):

                        a = Category.objects.all()

                        # for i in c:
                        #     Content.objects.filter(id=i.id).delete()
                        return HttpResponse("done check")
                        def dataadd(request):

                        a = Category.objects.all()
                        b = Playlist.objects.all()
                        c = Content.objects.all()

                        # for i in c:
                        #     Content.objects.filter(id=i.id).delete()
                        return HttpResponse("done check")
                        def dataadd(request):

                        a = Category.objects.all()
                        b = Playlist.objects.all()
                        c = Content.objects.all()

                        # for i in c:
                        #     Content.objects.filter(id=i.id).delete()
                        return HttpResponse("done check")
                        def dataadd(request):

                        a = Category.objects.all()
                        b = Playlist.objects.all()
                        c = Content.objects.all()

                        # for i in c:
                        #     Content.objects.filter(id=i.id).delete()
                        return HttpResponse("done check")
                        def dataadd(request):

                        a = Category.objects.all()
                        b = Playlist.objects.all()
                        c = Content.objects.all()

                        # for i in c:
                        #     Content.objects.filter(id=i.id).delete()
                        return HttpResponse("done check")
                        def dataadd(request):

                    </code>
                </pre>

            </div>

            <div class="code-code">

                <pre>
                    <code class="language-HTML">
                        
                        &lt;!DOCTYPE html&gt;
                        &lt;html lang="en"&gt;
                        &lt;head&gt;
                            &lt;meta charset="UTF-8"&gt;
                            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                            &lt;title&gt;Document&lt;/title&gt;
                        &lt;/head&gt;
                        &lt;body&gt;
                            &lt;h1&gt;Hello, world!&lt;/h1&gt;
                        &lt;/body&gt;
                        &lt;/html&gt;
                    </code>
                </pre>

            </div>

        </div>

    </div>
</body>
</html>