{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css'>
</head>

<body>
    <div class="main">
        <div class="left">

            <div class="l-row l-row-1">
                <h1>Tech Rambler</h1>
                <h2>>>>></h2>
            </div>

            <div class="l-row l-row-2">
                <img src="/static/logo.png" alt="">
            </div>

            <div class="l-row l-row-3">
                Welcome to <b>Tech Rambler</b>! Explore our video source code, learn, and create amazing tech projects. <br><br>
                <p>All Our Codes are available here!</p>
            </div>

            <div class="l-row l-row-4">

                <div class="icons"><i class="fi fi-brands-youtube"></i></div>
                <div class="icons"><i class="fi fi-brands-instagram"></i></div>
                <div class="icons"><i class="fi fi-brands-twitter-alt"></i></div>

            </div>

            <div class="l-row l-row-5">

                <div class="btn">
                    <a href="#">@Tech_Rambler_</a>
                </div>

            </div>

        </div>
        
        <div class="right">

            <div class="video_rows">

                <div class="video_cols">

                    <div class="thumbnail">
                        <img src="/static/Thumbnail-dj-2.jpg" alt="">
                    </div>
                    <div class="info">
                        <h3 class="titel">Bulb lighting animation in HTML, CSS  | #html #shorts #css</h3>
                        <a href="#">Code</a>
                        <a href="#">Youtube</a>
                    </div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail">
                        <img src="/static/Thumbnail-dj-2.jpg" alt="">
                    </div>
                    <div class="info"></div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail">
                        <img src="/static/Thumbnail-dj-2.jpg" alt="">
                    </div>
                    <div class="info"></div>

                </div>

            </div>

            <div class="video_rows">

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

            </div>

            <div class="video_rows">

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

            </div>

            <div class="video_rows">

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

            </div>

            <div class="video_rows">

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

                <div class="video_cols">

                    <div class="thumbnail"></div>
                    <div class="info"></div>

                </div>

            </div>


        </div>

    </div>
    
</body>
</html>