<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Rambler</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css'>
</head>
<body>
    <div class="container">
        <div class="contain-above">
            <div class="video">
                <video src="/static/background1.mp4" autoplay muted loop></video>
            </div>

            <div class="content-above">

                <div class="nav-bar">

                    <div class="left">
                        <h1>Tech Rambler</h1>
                    </div>

                    <div class="right">
                        <a href="#">About</a>
                        <a href="#">Contact</a>
                    </div>
                    
                </div>
                <div class="content-info">

                    <div class="title-box">

                        <div class="tb-left">
                            <h1>All Our Codes are available here!</h1> <br>
                            <p>Welcome to <b>Tech Rambler</b>! Explore our video source code, learn, and create amazing tech projects. </p>
                        </div>

                        <div class="tb-right">
                            <div class="tb-r-u">
                                <img src="/static/logo.png" alt="">
                            </div>
                            <div class="tb-r-d">

                                <a href="#" class="icon-btn">
                                    <p class="icon-p">Follow</p> <i class="fi fi-brands-instagram icon-i"></i>
                                </a>

                                <a href="#" class="icon-btn">
                                    <p class="icon-p">Subscribe</p> <i class="fi fi-brands-youtube icon-i"></i>
                                </a>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="contain-below">
            <div class="nav-category">
                <a href="" class="nc-a nc-a-active">All videos</a>
                <a href="" class="nc-a">Playlist</a>
                <a href="" class="nc-a">Category</a>
            </div>

            <div class="all-posts">
                
            </div>
        </div>
    </div>
</body>
</html>